<h1>Панель администратора - {{current_user.fullname}}</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h2>Список пользователей</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Полное имя</th>
                <th>Логин</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.login }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>


<a class="nav-link d-flex align-items-center gap-2" href="/">
    Выход
</a>

