<h1>Панель администратора - {{current_user.fullname}}</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <h2>Список пользователей</h2>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Полное имя</th>
                <th>Логин</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.fullname }}</td>
                <td>{{ user.login }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <table>
    <h2>Список заказов</h2>
      <thead>
            <tr>
                <th>ID</th>
                <th>Дата заказа</th>
                <th>user_id</th>
                <th>driver_id</th>
                <th>Начальное место</th>
                <th>Конечное место</th>
                <th>Цена</th>
                <th>Статус</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.data }}</td>
                <td>{{ order.user_id.fullname }}</td>
                <td>{{ order.driver_id.fullname }}</td>
                <td>{{ order.starting_place }}</td>
                <td>{{ order.end_place }}</td>
                <td>{{ order.price }}</td>
                <td>{{ order.status_id.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
</table>

</body>
</html>


<a class="nav-link d-flex align-items-center gap-2" href="/">
    Выход
</a>

